[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/reflect-cpp"]
	path = extern/reflect-cpp
	url = https://github.com/getml/reflect-cpp.git
[submodule "extern/tinyfiledialogs"]
	path = extern/tinyfiledialogs
	url = https://github.com/native-toolkit/libtinyfiledialogs.git
[submodule "extern/catch2"]
	path = extern/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "extern/sentry-native"]
	path = extern/sentry-native
	url = https://github.com/getsentry/sentry-native.git
[submodule "extern/miniz"]
	path = extern/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "extern/tinyxml2"]
	path = extern/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
